
#nav-bar  {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
  margin-bottom: 0px
}

#nav-bar img {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

#nav-bar .header {
  display: flex;
  font-size: 200%;
  align-items: center;
}

#compose-button {
  font-size: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border: black solid 1px;
  border-radius: 5px;
  color: #00a087;
  background-color: #e8fdff;
  /*display: none;*/
}

#compose-button:hover {
  color: black;
}


#registration-button {
  font-size: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: auto 5px auto auto;
  border: black solid 1px;
  border-radius: 5px;
  color: #00a087;
  background-color: #e8fdff;
}

#registration-button:hover {
  color: black;
}

#login-button {
  font-size: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: auto 10px auto 5px;
  border: black solid 1px;
  border-radius: 5px;
  color: #00a087;
  background-color: #e8fdff;
}

#login-button:hover {
  color: black;
}

#logout-button {
  font-size: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: auto 10px auto 5px;
  border: black solid 1px;
  border-radius: 5px;
  color: #00a087;
  background-color: #e8fdff;
}

#logout-button:hover {
  color: black;
}
