.new-tweet {
  display: flex;
  flex-direction: column;
  border: lightgrey solid 1px;
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 10px;
  margin: 16px 16px 0px 16px;
  display: none;
}

.new-tweet-header {
  border-bottom: solid black 1px;
  margin-top: 2px;
  flex-grow: 1;
}

textarea {
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet-btn {
  margin: 3px;
  justify-content: flex-start;
}

.counter {
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  flex-grow: 3;
  margin: 5px 13px;
}
